/node_modules/

# All timestamped static file directories will start with 2 (until the year 3000)
public/2*
public/temp

# Built files.
/build/
/timestamp.txt
/version.txt

# Ignore log files
/logs

/nginx/cache

# Ignore generated /nginx/config/nginx.conf for running Nginx in dev mode
/nginx/config/nginx.conf
