/*
 * General styles
 */

html {
  height: 100%;
}

body {
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

h1 {
  color: #72413c;
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 32px;
  margin: 1.5em 0 0.5em 0;
}

h2 {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin: 2em 0 0 0;
}

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

li,
p {
  line-height: 1.4em;
}

li {
  margin: 1em 0 1em -1em;
}

pre {
  font-size: 85%;
  max-width: 700px;
  padding: 16px;
  white-space: pre-wrap;
}

code {
  display: inline;
  font-family: "Consolas", "Menlo", "Courier New", "Courier", monospace;
  overflow: visible;
  word-wrap: normal;
}


/*
 * Page template
 */

.navigationContainer {
  background: linear-gradient(to right, black 60%, rgba(255,255,255,0) 90%);
  background-clip: text;
  -webkit-background-clip: text;
  display: none; /* For now, not visible on mobile */
  font-size: 13px;
  overflow: hidden;
  padding: 8px 24px;
  position: relative;
}

.navigationContainer:hover {
  background: white;
  background-clip: initial;
  -webkit-background-clip: initial;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
}

.navigationContainer ul {
  padding: 0;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.navigationContainer:hover ul {
  text-fill-color: initial;
  -webkit-text-fill-color: initial;
}

.sideNavigation li {
  list-style-type: none;
  margin: 10px 0 10px 10px;
}
.sideNavigation li.current {
  font-style: italic;
}
.sideNavigation li.current:before{
  content: '\25b6';
  color: #74403b;
  font-size: smaller;
  padding-right: 10px;
  margin-left: -20px;
}

.sideNavigation a {
  color: black;
  text-decoration: none;
}
.sideNavigation a:hover {
  text-decoration: underline;
}

.navHeader:not(:first-child) {
  margin-top: 2em;
}

.navHeader a {
  color: #7586a4;
  font-weight: bold;
}

.contentContainer {
  display: flex;
}

.leftGutter,
.rightGutter {
  min-width: 30px;
}

header,
article {
  flex: 1;
  max-width: 900px;
  min-width: 0;
}


/*
 * Header
 */

.headerBackground {
  position: absolute;
  width: 100%;
  z-index: -1;
}

header {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding: 20px 0;
}

.logoLink img {
  height: 55px;
  border: none;
}

.headerLinks {
  flex: 1;
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
}

.headerLinks a {
  color: black;
  text-decoration: none;
}

.headerLinks a:focus,
.headerLinks a:hover {
  text-decoration: underline;
}


/*
 * Footer
 */
footer {
  color: #666;
  font-size: smaller;
  margin-top: 6em;
}


/*
 * Home page
 */
.pageContainer[data-path="/"] .logoLink img {
  height: auto;
}

.homeSection0 {
}

.homeSection1 {
}

.homeSection2 {
  background: white;
}

.homeSection3 {
  background: none;
}

.homeSection4 {
  background: white;
}

.tagline {
  color: #5a6a83;
  text-shadow: 0 0 2px white;
}

.blurb {
  color: #743f3b;
  font-style: italic;
  text-shadow: 0 0 2px white;
}

.componentCard {
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-size: 14px;
  height: 280px;
  margin-bottom: 10px;
  text-decoration: none;
  vertical-align: top;
  width: 100%;
}

.componentCard:hover {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.cardPreviewContainer {
  align-items: center;
  background: white;
  display: flex;
  height: 162px;
  justify-content: center;
  margin-top: 7px;
  padding: 7px;
}

.cardPreview {
  max-height: 100%;
  max-width: 100%;
}

.cardDetails {
  padding: 7px;
  text-align: center;
}

.cardName {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 4px;
}

.cardColor0 {
  background: #c0a83a;
}

.cardColor1 {
  background: #c04f3d;
}

.cardColor2 {
  background: #da902d;
}

.cardColor3 {
  background: #7586a4;
}


/*
 * Standard pages
 */

.section0 {
  background: linear-gradient(to bottom, #f6f6f8, #b1bcce);
}

.section1 {
  background: #dcdcdc;
}


/*
 * Documentation pages
 */

.documentation h3,
.documentation p {
  background: white;
  margin: 0;
  padding: 0.5em;
}

.documentation h3 {
  border-top: 7px solid #7586a4;
  margin-top: 1em;
}

.apiSection {
  /*background: #ececee;*/
}

.apiBackground {
  /*
  background-image: url(/static/images/apiTexture.png);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
  */
}

.apiCard {
  background: white;
  border-top: 7px solid #869cbe;
  margin-bottom: 1em;
  padding: 1em 0;
}

.apiCard > :first-child {
  margin-top: 0;
}
.apiCard > :last-child {
  margin-bottom: 0;
}

.apiDescription > :last-child {
  margin-bottom: 0;
}

.apiMemberType {
  color: #888;
}

.apiLabel {
  font-weight: bold;
}


/*
 * Demos
 * TODO: Avoid replicating styles from demos.css
 */

.demoContainer {
  margin: 2em 0;
}

.demo {
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: relative;
}

.demoCaption {
  color: #666;
  font-size: smaller;
  font-style: italic;
  margin-top: 0.5em;
}

.demoLink {
  border: 1px solid transparent;
  color: inherit;
  font-style: normal;
  text-decoration: none;
}
.demoLink:hover,
.demoLink:focus {
  background: lightgray;
  border-color: gray;
}

.demo,
.demo button,
.demo input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.demo p,
.demo li {
  max-width: 800px;
}

.demo label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.demo.small {
  height: 180px;
  width: 250px;
}

.demo.medium {
  height: 250px;
  width: 300px;
}

.demo.fullScreen {
  display: inline-flex;
  height: 568px;
  width: 320px;
}

.demo.padded {
  padding: 20px;
}


/*
 * Desktop
 */

@media (min-width: 600px) {

  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }

  .leftGutter {
    flex: 1;
    max-width: 300px;
    min-width: 200px;
  }

  .desktopOnly {
    display: block;
  }

  header {
    flex-direction: row;
  }

  .headerLinks {
    text-align: right;
    white-space: nowrap;
  }

  .pageNavigation {
    display: none;
  }

  .componentCard {
    margin-right: 10px;
    width: 215px;
  }

}
