/*
 * General styles
 */

html {
  height: 100%;
}

body {
  background-color: #dcdcdc;
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  min-height: 100%;
}

h1 {
  color: #72413c;
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 48px;
  margin: 20px 0;
}

h2 {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin: 2em 0 0 0;
}

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: normal;
}

p {
  line-height: 1.4em;
}

code {
  font-family: "Consolas", "Menlo", "Courier New", "Courier", monospace;
}


/*
 * Page template
 */

.sideNavigation nav {
  background: white;
  font-size: 13px;
  padding: 8px 24px;
}

.sideNavigation:hover nav {
  position: absolute;
}

.sideNavigation ul {
  padding: 0;
}

.sideNavigation li {
  list-style-type: none;
  margin: 10px 0;
}
.sideNavigation li.current {
  font-style: italic;
  list-style-type: disc;
}

.sideNavigation a {
  color: black;
  text-decoration: none;
}
.sideNavigation a:hover {
  text-decoration: underline;
}

.navHeader {
  color: #7586a4;
  font-weight: bold;
  margin-top: 4px;
}
.navHeader:not(:first-child) {
  margin-top: 2em;
}

.contentContainer {
  display: flex;
}

.gutter {
  flex: 1;
  min-width: 30px;
}

header,
article {
  max-width: 930px;
  width: 100%;
}


/*
 * Header
 */

.headerBackground {
  position: absolute;
  width: 100%;
  z-index: -1;
}

header {
  display: flex;
  font-size: 15px;
  padding: 20px 0;
}

.logoLink img {
  height: 55px;
  border: none;
}
.pageContainer[data-path="/"] .logoLink img {
  height: auto;
}

.headerLinks {
  flex: 1;
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  text-align: right;
  white-space: nowrap;
}

.headerLinks a {
  color: black;
  text-decoration: none;
}

.headerLinks a:focus,
.headerLinks a:hover {
  text-decoration: underline;
}


/*
 * Home page
 */

.homeSection0 {
}

.homeSection1 {
}

.homeSection2 {
  background: white;
}

.homeSection3 {
  background: none;
}

.homeSection4 {
  background: white;
}

.tagline {
  color: #5a6a83;
}

.blurb {
  color: #743f3b;
  font-style: italic;
}

.componentCard {
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-size: 14px;
  height: 300px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-decoration: none;
  vertical-align: top;
  width: 220px;
}

.componentCard:hover {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.cardPreview {
  background: white;
  height: 165px;
  margin-top: 7px;
}

.cardDetails {
  padding: 7px;
  text-align: center;
}

.cardName {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 4px;
}

.cardColor0 {
  background: #c0a83a;
}

.cardColor1 {
  background: #c04f3d;
}

.cardColor2 {
  background: #da902d;
}

.cardColor3 {
  background: #7586a4;
}


/*
 * Standard pages
 */

.section0 {
  background: linear-gradient(to bottom, #f6f6f8, #b1bcce);
}

.section1 {
  background: #dcdcdc;
}


/*
 * Documentation pages
 */

.documentation h3,
.documentation p {
  background: white;
  margin: 0;
  padding: 0.5em;
}

.documentation h3 {
  border-top: 7px solid #7586a4;
  margin-top: 1em;
}


/*
 * Desktop
 */

@media (min-width: 800px) {
}
